<h1 class="dialog--title">{{title}}</h1>
<p class="dialog--text">{{text}}</p>

<button class="btn btn-modal btn-dual btn-block btn-edit confirm--nok--button">{{label.nok}}</button>
<button class="btn btn-modal btn-dual btn-block btn-positive confirm--ok--button">{{label.ok}}</button>
