<h1 class="dialog--title">{{title}}</h1>

<a href="#choice1" class="btn btn-modal btn-dual btn-block btn-primary btn-outlined splash--button">{{choice-1}}</a>
<a href="#choice2" class="btn btn-modal btn-dual btn-block btn-positive btn-outlined splash--button">{{choice-2}}</a>

<p class="dialog--message">{{text}}</p>
