<h1 class="waiting--title">{{title}}</h1>

<div class="waiting--loader">
  <span class="waiting--loader--bull waiting--loader--bull1"></span>
  <span class="waiting--loader--bull waiting--loader--bull2"></span>
  <span class="waiting--loader--bull waiting--loader--bull3"></span>
</div>

<p class="waiting--text">{{text}}</p>
