<h1 class="waiting--title">{{title}}</h1>

<div class="waiting--loader">
  <span class="waiting--loader--bull bounce1"></span>
  <span class="waiting--loader--bull bounce2"></span>
  <span class="waiting--loader--bull bounce3"></span>
</div>

<p class="waiting--text">{{text}}</p>
