<span class="icon icon-info"></span>
<h1 class="dialog--title">{{title}}</h1>
<p class="dialog--text">{{text}}</p>
<button class="btn btn-modal btn-block btn-negative alert--button">{{label}}</button>
