<ul class="table-view">
  <li class="table-view-cell">
    Alert <a class="btn btn-outline btn-negative" data-action="open" data-type="alert">Open </a>
  </li>
  <li class="table-view-cell">
    Alert (success operation)<a class="btn btn-outline btn-negative" data-action="open" data-type="alert.success">Open </a>
  </li>
  <li class="table-view-cell">
    Alert (error operation)<a class="btn btn-outline btn-negative" data-action="open" data-type="alert.error">Open </a>
  </li>
  <li class="table-view-cell">
    Confirm <a class="btn btn-outline btn-negative" data-action="open" data-type="confirm">Open </a>
  </li>
  <li class="table-view-cell">
    Notification with a close button <a class="btn btn-outline btn-negative" data-action="open" data-type="notification">Open </a>
  </li>
  <li class="table-view-cell">
    Waiting <a class="btn btn-outline btn-negative" data-action="open" data-type="waiting">Open </a>
  </li>
  <li class="table-view-cell">
    Waiting (foldable)<a class="btn btn-outline btn-negative" data-action="open" data-type="waiting.foldable">Open </a>
  </li>
</ul>
