<span class="icon icon-person"></span>
<p class="dialog--title">{{title}}</p>
<p class="dialog--message">{{message}}</p>
<button class="btn btn-modal btn-block btn-negative alert--button">{{label}}</button>
